h1,p {
    text-align: center;
    padding: 12px 20px;
    font-size: 1.7em;
}
label {
    display: block;
    text-align: center;
    font-size: 1.5em;
    width: 97%;
    margin: 0 1.5%;
    font-family: 'Noto Sans JP';
    padding-bottom: 12px;
  }
h1{
    font-family: 'Noto Serif Gujarati';
    font-size: 1.9em;
}
p{
    font-family: 'Bilbo';
}
input {
    box-sizing: border-box;
    width: 97%;
    padding: 12px 20px;
    margin: 8px 1.5%;
    background-color: rgb(169, 169, 169);
    border-radius: 4px;
    
  }
  input[type=submit]:hover{
    background-color: rgb(107, 107, 107);
    color: rgb(221, 221, 221)

  }
  input[type=submit]{
    font-family: 'Lato';
  }
form{
    width: 97%;
}

.fontsize {
    font-size: 1.3em;
}

@media screen and (min-width: 510px) {
    #container {
        text-align: center;
        margin: 3% auto 0 auto;
        width: 65%;
    }

    .fontsize {
        font-size: 1.2em;
    }

    input {
        width: 100%;
    }

    #submit {
        width: 30%;
        display: block;
        margin: 0 auto;
        font-size: 0.9em;
    }
}

@media screen and (min-width: 768px) {
    #container {
        width: 450px;
    }

    .font-size {
        font-size: 1em;
    }

    #submit {
        width: 26%;
    }
}